@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@100;700&family=Bebas+Neue&family=Cairo:wght@300;700&family=Edu+VIC+WA+NT+Beginner&family=Montserrat:wght@100&family=Mouse+Memoirs&family=Orbitron&family=Oswald:wght@200&family=Play&family=Rajdhani:wght@300;700&family=Teko:wght@300;400&family=Titillium+Web:ital,wght@0,700;1,200&display=swap');
*{
  /* font-family: 'Advent Pro', sans-serif; */
  /* font-family: 'Oswald', sans-serif; */
  font-family: 'Rajdhani', sans-serif;
  margin:0; padding:0;
  box-sizing: border-box;
  outline: none; border:none;
  transition: all .2s linear;
}
body{
  animation: fadeInLeft 1s linear;
}
header{
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}
.navbar--left{
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar--logo{
  width: 230px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar--right{
  width: 70%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.navbar--right--content{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  margin-right:2rem;
}
.logo{
  text-decoration: none;
  color: #000;
  font-weight: bold;
}
.login--part{
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.profil{
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
}
.container--connexion{
  margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container--first--part{
  width: 50%;
  height: 95vh;
  background-color: #0069ff;
  border-radius: 0.5rem 0 0 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.containter--second--part{
  width: 50%;
  height: 95vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container--login{
  width: 90%;
}
.login--content{
  width: 600px;
  padding-right: 6rem;
  padding-left: 6rem;
}
.btn{
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: #0069ff;
}
.login--content--header{
  color: #000;
}
.container--first--part--content--header{
  color: white;
  font-size: 3rem;
}
.main--header--part{
  /* border: 1px solid coral; */
  background-color: #0069ff;
  text-align: center;
  padding: 2rem;
  font-weight: bold;
}
.category--link{
  color: #3490dc;
    text-decoration: none;
    background-color: transparent;
    color: #000;
}
.category--link:hover{
  color: #3490dc;
}
/* .row{
  display: flex;
  align-items: center;
  justify-content: center;
} */
.question__link{
  color: #000;
  font-weight: 600;
  /* text-decoration: none; */
}
.question__link:hover{
  text-decoration: none;
}
.numbers--question--answers{
  color: #3490dc;
  font-weight: 600;
}
.question__tags{
    font-weight: 400;
    background: #f3f5f9;
    border-radius: 3px;
    color: #031b4e;
    display: inline-block;
    margin: 4px 8px 4px 0;
    padding: 0.2rem 0.5rem;
    font-size: 0.7rem;
}
.btn--question{
  background-color: #0d6efd;
    color: #fff;
    border-radius: 0.25rem;
    font-size: 1rem;
    font-weight: 400;
    text-decoration: none;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 180px;
}
.main--part--question{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
}
.btn--back{
    border-radius: 0.25rem;
    color: #0069ff;
    font-size: 1rem;
    text-decoration: none;
    padding: 0.5rem;
    width: 130px;
    margin-right: 0.5rem;
    font-weight: bold;
}

.comment {
  display: flex;
  justify-content: flex-start;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;
}
.comment__author-name {
  color: #031b4e;
  font-size: 1rem;
  font-weight: bold;
  padding-left: 0.7rem;
}
.comment__author-info {
  display: flex;
  align-items: center;
  justify-content: center;
}
.comment__author {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.question-detail__content {
  color: #3b455a;
  font-size: 1.02rem;
}
.question-detail__title {
  display: flex;
  align-items: flex-start;
  margin-bottom: 1.5rem;
}
.question-detail__head {
  text-transform: uppercase;
  color: #0069ff;
  font-size: 0.85rem;
  padding-left: 2.2rem;
}
.no-underline {
  text-decoration: none;
}

.comment__likes-count {
  padding-right: 1.3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-floating{
  margin-top: 1rem !important;
}
.container--login--header {
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn--header{
  background-color: #0069ff;
  border-radius: 0.9rem;
  color: #f3f5f9;
  width: 200px;
  margin-right: 1rem;
  margin-bottom: 1rem;
  padding: 0.6rem;
  transition: ease-in-out .2s;
}



@media only screen and (max-width:576px){
  .container--connexion{
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
  }
  .container--first--part{
    width: 100%;
    height: 35vh;
    border-radius: 1rem;
  }
  .containter--second--part{
    width: 100%;
    height: 45vh;
    border-bottom: 3px solid gainsboro;
    border-radius: 1rem;
  }
  .container--login{
    height: 90%;
  }
  .login--content{
    width: 100%;
    padding-right: 0;
    padding-left: 0;
  }

}